.header {
    flex-wrap: wrap;
    text-align: right;
}

.header-logo img {
    float: left;
    width: 250px;
    height: 250px;
}

.header-above-search {
    list-style: none;
    flex-direction: row;
    float: right;
    margin: auto;
}

.header-above-search ul {
    padding: 0;
    display: flex;
}

.header-above-search li {
    list-style: none;
    display: inline;
    flex-direction: row;
    margin-right: 10px;
    padding: 0 10px;
    margin-left: 10px;
}

.header-search {
    margin-top: 20px;
    text-align: right;
    position: absolute;
    top: 100px;
    right: 0px;
    float: right;
    font-size: 16px;
    background-color: #fff;
    top: 75px;
}
